<tr class="table-row">
    <td class="table-division">
        <div><img src="/medias/img/shoe.png" alt="img" class="table-image" /></div>
    </td>
    <td class="table-division">
        <div>{{this.name}}</div>
    </td>
    <td class="table-division">
        <div>${{this.price}}</div>
    </td>
    <td class="table-division">
        <div>{{this.ref}}</div>
    </td>
    <td class="table-division"><a href="/product_edit/{{this.id}}" class="fa fa-edit table-icon"></a>
    <td class="table-division"><a href="" class="fa fa-trash table-icon" aria-hidden="true"></a></td>
</tr>