<div class="big-container manage-products-wrapper">
  <h3 class="manage-products-title">Manage your Sneakers catalog</h3>
  <table class="product-manage-table">
    <thead>
      <tr class="table-row">
        <th colspan="1" class="table-head">Sneaker Image</th>
        <th colspan="1" class="table-head">Sneaker Name</th>
        <th colspan="1" class="table-head">Sneaker Ref</th>
        <th colspan="1" class="table-head">Sneaker Prixe</th>
        <th colspan="1" class="table-head"> </a> Edit</th>
        <th colspan="1" class="table-head">Delete</th>
      </tr>

    </thead>
    <tbody>
      {{#each prod}}
      {{> products_manage_partial}}
      {{/each}}
    </tbody>
  </table>
</div>